@page "/raEdit/{Id}"
@using Client.Pages.RA.EditStepper
@using Client.Pages.RA.Stepper
@using EmbPortal.Shared.Requests.RA

<Breadcrumb Style="margin-bottom: 0.75rem">
    <BreadcrumbItem Href="/">
        <Icon Type="home" />
        <span>DASHBOARD</span>
    </BreadcrumbItem>
    <BreadcrumbItem Href="/workorder">
        WORK ORDERS
    </BreadcrumbItem>   
    <BreadcrumbItem >
        EDIT RA Bill
    </BreadcrumbItem>
</Breadcrumb>
<Row >
    <GridCol Xs="24">
        <Steps Current="@_currentStep">
            <Step Title="Bill Header" />
            <Step Title="Bill Items" />
            <Step Title="Deductions" />
        </Steps>
        <CascadingValue Value="this">
            @switch (_currentStep)
            {
                case 0:               
                 <HeaderStep/>               
                  break;
                case 1:
                    <ItemsStep/>              
                  break;
                case 2:
                    <DeductionsStep OnSubmit="OnFormSubmit" />
                    break;
            }
        </CascadingValue>
    </GridCol>
</Row>

@code {
    [Parameter]
    public string workOrderId { get; set; }
    [Parameter]
    public string Id { get; set; }
    private int _currentStep;
    bool loading;
    public bool submitting;
    public RADetailResponse Model = new RADetailResponse();
    protected override async Task OnInitializedAsync()
    {
        await LoadRADetailsAsync();
    }
    public void Next()
    {
        _currentStep += 1;
        StateHasChanged();
    }
    public void Prev()
    {
        if (_currentStep <= 0) return;
        _currentStep -= 1;

        StateHasChanged();
    }    

    async Task LoadRADetailsAsync()
    {
        var result = await raService.GetRAById(int.Parse(Id));
        Model = result.Data;
    }
    async Task OnFormSubmit()
    {
        
    }
}

