@page "/"
@attribute [Authorize]

<div class="text-center">    
    @if (currentUser != null){
        @if (currentUser.IsInRole("Admin"))
        {
            <AdminDashboard></AdminDashboard>
        }
        else
        {
            <EmbDashboard />
        }
    }
    else {
        <p>Authorizing...</p>
    }
    
</div>

@code{
    private ClaimsPrincipal currentUser;
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }
    private async Task LoadDataAsync()
    {
        var state = await stateProvider.GetAuthenticationStateAsync();
        currentUser = state.User;
    }

}