@page "/"
@attribute [Authorize]

<div class="text-center">
    
    @if (currentUser != null && (currentUser.IsInRole("Admin")))
    {
      <AdminDashboard></AdminDashboard>
    }
    
       

</div>
@code{
    private ClaimsPrincipal currentUser;
    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }
    private async Task LoadDataAsync()
    {
        var state = await stateProvider.GetAuthenticationStateAsync();
        currentUser = state.User;
    }

}