@page "/orderdetail/{Id}/{Tab?}"
@attribute [Authorize]

<Breadcrumb Style="margin-bottom: 0.5rem">
    <BreadcrumbItem Href="/">
        <Icon Type="home" />
        <span>DASHBOARD</span>
    </BreadcrumbItem>
    <BreadcrumbItem Href="/workorder">
        WORK ORDERS
    </BreadcrumbItem>
    <BreadcrumbItem>
        DETAIL
    </BreadcrumbItem>
</Breadcrumb>

@if (data != null)
{
    <CascadingValue Value="@data.Id" TValue="int">

        <Tabs Animated @bind-ActiveKey="@activeKey">
            <TabPane Tab="Work Order Details" Key="wo">
                <WorkOrderHeader WorkOrder="@data" />

                <Divider Plain Style="border-color:#888">Order Items</Divider>

                <WorkOrderItems Items="@data.Items" />`
            </TabPane>

            <TabPane Tab="Measurement Books" Key="mb">
                <MeasurementBooks />
            </TabPane>
            <TabPane Tab="RA Bills" Key="ra">
                <RABill/>
            </TabPane>
        </Tabs>

    </CascadingValue>
}
else
{
    <Spin>
        <Empty />
    </Spin>
}

@code {
    [Parameter]
    public string Tab { get; set; }
    [Parameter]
    public string Id { get; set; }

    string activeKey = "wo";
    public WorkOrderDetailResponse data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadWorkOrderDetailsAsync();
        if (string.IsNullOrWhiteSpace(Tab)) return;

        if (Tab == "mb")
        {
            activeKey = "mb";
        }
        if (Tab == "ra")
        {
            activeKey = "ra";
        }
    }

    async Task LoadWorkOrderDetailsAsync()
    {
        var result = await workOrderService.GetWorkOrderById(int.Parse(Id));
        if (!result.Succeeded)
        {
            navManager.NavigateTo("/workorder");
            await messageService.Warning(result.Message);
            return;
        }

        data = result.Data;
    }

    async Task ReloadPage()
    {
        await LoadWorkOrderDetailsAsync();
    }
}
