@page "/mbook/pending/approval"

<Breadcrumb Style="margin-bottom: 0.5rem">
    <BreadcrumbItem Href="/">
        <Icon Type="dashboard" />
        <span>Dashboard</span>
    </BreadcrumbItem>
    <BreadcrumbItem>
        Pending MB Approvals
    </BreadcrumbItem>
</Breadcrumb>

@code {

}
