@page "/mbook/pending/validation"

<Breadcrumb Style="margin-bottom: 0.5rem">
    <BreadcrumbItem Href="/">
        <Icon Type="dashboard" />
        <span>Dashboard</span>
    </BreadcrumbItem>
    <BreadcrumbItem>
        Pending MB Validations
    </BreadcrumbItem>
</Breadcrumb>

@code {

}
