<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white shadow mb-3">
   <div class="container">
      <a class="navbar-brand" href="/">        
         EMB Portal
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
         <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
               <NavLink class="nav-link text-dark" href="/" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
               <NavLink class="nav-link text-dark" href="/HrSection">HR Section</NavLink>
            </li>
            <li class="nav-item">
               <NavLink class="nav-link text-dark" href="/Generation">Generation Data</NavLink>             
            </li>
            <li class="nav-item">
               <NavLink class="nav-link text-dark" href="/Downloads">Downloads</NavLink>             
            </li>
         </ul>
      </div>
   </div>
</nav>