
<div class="profile">
    <Dropdown Trigger="@(new Trigger[] { Trigger.Click })">
        <Overlay>
            <Menu>
                <MenuItem>Profile</MenuItem>
                <MenuItem OnClick="@LogoutUser">Logout</MenuItem>
            </Menu>
        </Overlay>
        <ChildContent>
            <Avatar Icon="user" />
            <a @onclick:preventDefault class="username">
                <span>@displayName</span>
            </a>
        </ChildContent>
    </Dropdown>
</div>

<style>
    .profile {
        float: right;
        margin-right: 2rem;
    }

    .username {
        margin-right: 0.25rem;
        color: black;
    }
</style>

@code {
    private string displayName;
    private ClaimsPrincipal currentUser;

    protected override async Task OnParametersSetAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        var state = await stateProvider.GetAuthenticationStateAsync();
        currentUser = state.User;

        if (currentUser == null) return;

        if (currentUser.Identity.IsAuthenticated)
        {
            displayName = currentUser.GetUserNameFromClaimsPrincipal();
        }
    }

    async Task LogoutUser()
    {
        await authService.Logout();
    }
}
