@inherits LayoutComponentBase

<AuthorizeView>
    <NotAuthorized>
        @Body
    </NotAuthorized>

    <Authorizing>
        @Body
    </Authorizing>

    <Authorized>
        <AntDesign.ProLayout.BasicLayout MenuData="_menuData.ToArray()"
                                         Title="EMB Portal"
                                         Logo="@("https://upload.wikimedia.org/wikipedia/en/7/74/North_Eastern_Electric_Power_Corporation_Logo.svg")">
            <RightContentRender>
                <AppNavBar />
            </RightContentRender>
            <ChildContent>
                <div id="main">
                    @Body
                </div>
            </ChildContent>
            <FooterRender>
                <FooterView Copyright="2021 IT NEEPCO" Links="@_links" />
            </FooterRender>
        </AntDesign.ProLayout.BasicLayout>
    </Authorized>
</AuthorizeView>

<style>
    #main {
        padding: 18px;
        padding-bottom: 60px;
        background: white;
        min-height: 72vh;
    }
</style>

@code {
    List<MenuDataItem> _menuData = new()
    {
        new MenuDataItem
        {
            Path = "/",
            Name = "Dashboard",
            Key = "dashboard",
            Icon = "dashboard",
        },
        new MenuDataItem
        {
            Path = "/workorder",
            Name = "Work Orders",
            Key = "workorder",
            Icon = "container",
        },
        new MenuDataItem
        {
            Path = "/mbooks",
            Name = "Measurement Books",
            Key = "mbook",
            Icon = "snippets",
        }        
    };

    private LinkItem[] _links = { };
}